body{
    margin: 0;
    padding: 0;
    /* background: url(img/fundo.jpg); */
    background: rgba(0, 0, 0, 0.8);
    background-size: cover;
    font-family: 'BenchNine', sans-serif;
}
.opaca{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    transition: 1s;
    display: none;
}

.op{
    display: flex;
}

.postit1{
    margin-top: 2vh;
    width: 20vw;
    height: 20vw;
    background-color: #FF5291;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 10px;
    border-radius: 5px;
    flex-direction: column;
    transition: 1s;
    overflow: hidden;
}


.postit12{
    position: relative;
    margin-top: 8vh;
    width: 20vw;
    height: 35vw;
    background-color: palevioletred;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 10px;
    border-radius: 5px;
    flex-direction: column;
    z-index: 1;
}

header{
    height: 70px;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px;
    flex-direction: row;
    z-index: 2;
}

header>a{
    margin-left: 3vw;
    text-decoration: none;
    font-size: 25px;
    color: lightgray;
    font-family: sans-serif;
    font-weight: bold;
    z-index: 2;
}

nav{
    width: 70%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3vw;
    position: relative;
    z-index: 2;
    background-color: #000;
}

a{
    text-decoration: none; 
}

nav>a{
    text-decoration: none;
    color: lightgray;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 15pt;
    height: 70px;
    width: calc(100% / 6);
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    transition: 1s;
    z-index: 2;
    background-color: #000;
}

.d1:hover{
    background-color: rgba(255, 255, 255, 0.4);
    letter-spacing: 2px;
}

section{
    height: calc(100vh - 70px);
    width: 100%;
    /* background-color: gray; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.contain{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
}

.division{
    display: flex;
}
.oloco{
    margin-top: 2vh;
    width: 20vw;
    height: 20vw;
    background-color: #B14CE8;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 10px;
    border-radius: 5px;
    flex-direction: column;
    transition: 1s;
    
}

.oloco1{
    border-radius: 5px;
    margin-top: 7Vh;
    width: 20vw;
    height: 20vw;
    background-color: #32A6E8;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 5px;
    transition: 1s;
    
}

.jogar{
    border-radius: 50%;
    margin-top: 7vh;
    margin-left: 10px;
    width: 20vw;
    height: 20vw;
    background-color: #41FFD8;
    font-size: 87px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 5px;
    outline: none;
}

.jogar p{
    font-size: 89px;
    font-family: 'BenchNine', sans-serif;
}

.oloco:nth-child(1){
    margin-top: 6vh;
    background-color: #B9D2FF;
}

.oloco:nth-child(2){
    background-color: #5F67FF;
    margin-top: 13vh;
}

.oloco:nth-child(3){
    flex-direction: column;
    justify-content: space-evenly;

}

p{
    font-size: 24px;
    font-family: sans-serif;
    margin: 0;
}

.oloco:nth-child(3) button{
    /* margin-bottom: 20px; */
    height: 30px;
    width: 50%;
    border: none;
    font-size: 80%;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
    text-transform: uppercase;
    box-shadow: 0 0 5px;
    background-color: white;
}

.oloco:nth-child(3) a{
    font-size: 65%;
    font-family: sans-serif;
    margin-top: -10px;
}

input{
    box-shadow: 0 0 5px;
    outline: none;
    height: 30px;
    border-radius: 5px;
    border: none;
    text-align: center;
    width: 80%;
}

.oloco1:nth-child(2){
    margin-top: 8vh;
    margin-bottom: 2vh;
    margin-left: 5vw;
    background-position: center;
    background-size: cover;

}

.divCad{
    height: 70px;
    width: 17.2%;
    background-color:  #41FFD8;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 66.5%;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
    opacity: 0;
    z-index: 1;
    transition: 1s;
}

.divCad a{
    font-size: 15pt;
    width: 80%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: black;
    border-radius: 5px;
    height: calc(92% / 3);
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.divCad a:hover{
    background-color: rgba(255, 255, 255, 0.4);
    letter-spacing: 2px;
}

.divCad2{
    top: 70px;
    height: 175px;
    opacity: 1;
}